.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 320px;
}

.description {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 5px;
}