<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!-- Colonnes dynamiques sauf actions -->
  @for (column of columnsToDisplay; track column; let index = $index) {
    @if (column !== 'actions') {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ headersColumns[$index] }}</th>
        <td mat-cell *matCellDef="let user">{{ user[column] }}</td>
      </ng-container>
    }
  }

  <!-- Colonne Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>

    <td mat-cell *matCellDef="let user">
      <button mat-button (click)="edit.emit(user)">
        <mat-icon class="grey">settings</mat-icon>
      </button>

      <button mat-button color="warn" [disabled]="user.role === roles.ADMIN" (click)="delete.emit(user)">
        <mat-icon [ngClass]="{ 'red': user.role !== roles.ADMIN }">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
<mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
  (page)="onPageChange($event)">></mat-paginator>