<h2>Utilisateurs</h2>

@for (user of users$ | async; track user.username) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>
            <span highlight>{{ user.username }}</span>
            </mat-card-title>
            <mat-card-subtitle>
            <span>Nom : {{ user.firstName }} {{ user.lastName }}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span>Role : {{ user.role }}</span>
            <br/>
            <span>Email : {{ user.email }}</span>
        </mat-card-content>
    </mat-card>
}